<div class="section-footer wf-section">
    <div class="container-address">
      <h1 class="heading-medium-2">{{ texts.-6196267e }}<br>{{ texts.-7843b5b0 }}<br>{{ texts.-2e56a39d }}</h1>
    </div>
    <div class="container-info-footer">
      <p class="paragraph-2">{{ texts.-1751893b }}<br>{{ texts.-227171a8 }}<br>{{ texts.-36469dee }}</p>
      <ul role="list" class="footer-list w-list-unstyled">
        <li class="footer-list-item">
          <a href="{{ links.-1875e8 }}" class="link">{{ texts.50c8e507 }}</a>
        </li>
        <li class="footer-list-item">
          <a href="{{ links.37bb29fa }}" class="link">{{ texts.-64104400 }}</a>
        </li>
      </ul>
      <ul role="list" class="footer-list w-list-unstyled">
        <li class="footer-list-item">
          <a href="{{ links.2c9db82 }}" class="link">{{ texts.24fef3 }}</a>
        </li>
        <li class="footer-list-item">
          <a href="{{ links.-7ada8706 }}" class="link">{{ texts.-29f92c17 }}</a>
        </li>
      </ul>
      <a href="{{ links.2f }}" aria-current="page" class="w-inline-block w--current"><img src="{{ images.-2cff83dc.url }}" loading="lazy" alt="{{ images.-2cff83dc.alt | trim | escape }}" height="Auto" class="image-2"></a>
    </div>
  </div>