<div class="section-navigation wf-section">
    <div class="wrap-embed">
      <div data-w-id="e666937d-9809-5513-a8e8-e82f93092469" class="svg-embed w-embed">
        <!--  svg icon -->
        <style>
	.svg-icon {
    width: 100%;
    height: 100%;
	}
</style>
        <svg class="svg-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve">
          <g class="plus-path" fill="black" stroke="#141414" stroke-width="2">
            <path d="M62,23.5v16.9H40.5V62h-17V40.5H2v-17h21.5V2h16.9v21.5H62z"></path>
          </g>
        </svg>
      </div>
    </div>
    <div class="container-menu-open">
      <div class="wrapper-links-menu">
        <a href="{{ links.2f }}" aria-current="page" class="link-menu within-menu w--current">{{ texts.1d0e9f94 }}</a>
        <a href="{{ links.-1875e8 }}" class="link-menu within-menu">{{ texts.50c8e507 }}</a>
        <a href="{{ links.2c9db82 }}" class="link-menu within-menu">{{ texts.24fef3 }}</a>
        <a href="{{ links.-326c7d78 }}" class="link-menu within-menu">{{ texts.-64104400 }}</a>
      </div>
    </div>
  </div>